<link rel="stylesheet" href="./styles.css" />
<div class="khural-test-title-2" data-outro-ms="520">
  <div class="khural-test-title-2__panel">
    <div class="khural-test-title-2__panel-glow"></div>
    <div class="khural-test-title-2__copy">
      <div class="khural-test-title-2__headline">
        <h1
          data-field="fullName"
          data-label="ФИО"
          data-placeholder="Егорыч Панин"
          data-default="Егорыч Панин"
        >
          Егорыч Панин
        </h1>
        <div
          class="khural-test-title-2__tag"
          data-field="handle"
          data-label="Тег"
          data-placeholder="NDA"
          data-default="NDA"
        >
          NDA
        </div>
      </div>
      <p
        data-field="position"
        data-label="Должность"
        data-placeholder="Технический директор"
        data-default="Технический директор"
      >
        Технический директор
      </p>
    </div>
  </div>
</div>
