<link rel="stylesheet" href="./styles.css" />
<div class="khural-title" data-outro-ms="560">
  <div
    class="khural-title__tag"
    data-field="handle"
    data-label="Тег"
    data-placeholder="@perogello"
    data-default="@perogello"
  >
    @perogello
  </div>

  <div class="khural-title__panel">
    <div class="khural-title__panel-glow"></div>
    <div class="khural-title__copy">
      <h1
        data-field="fullName"
        data-label="ФИО"
        data-placeholder="Егорыч Панин"
        data-default="Егорыч Панин"
      >
        Егорыч Панин
      </h1>
      <p
        data-field="position"
        data-label="Должность"
        data-placeholder="Техник техническович ВЫМЫХ"
        data-default="Техник техническович ВЫМЫХ"
      >
        Техник техническович ВЫМЫХ
      </p>
    </div>
  </div>
</div>
